@media screen and (max-width: 1025px) {

    /* #region servico */

    body .container #servico {
        height: 110vh;
        width: 100%;
    }

    body .container #servico .servico-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body .container #servico .servico-container .servico-text {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body .container #servico .servico-container .servico-img {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body .container #servico .servico-container .servico-img img {
        width: 70%;
        border-radius: 50%;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        animation-name: floating;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }





    /* #endregion */

    /* #region blog */

    body #blog {
        width: 100%;
        height: 110vh;
    }

    body #blog .blog-container ul {
        height: 700px;

    }

    body #blog .blog-container ul li img {
        width: 220px;
        height: 240px;
        border-radius: 50%;
        margin: 2% 0;
        animation: colorChange 5s infinite alternate;
    }




    /* #endregion */


    /* #region localizacao */
    body #localizacao .localizacao-container .localizacao-inner .logo img {
        width: 70%;

    }

    body #localizacao .localizacao-container .localizacao-inner .loc-mapa {
        width: 50%;
        padding: 0 1%;
        text-align: center;

    }



    body #localizacao .localizacao-container .localizacao-inner .loc-mapa iframe {
        width: 90%;
        height: 50%;
        border-radius: 15px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }

    /* #endregion */


}




@media screen and (max-width: 769px) {


    /* #region servico */

    body .container #servico {
        height: 120vh;
        width: 100%;
    }

    body .container #servico .servico-container {

        flex-direction: column-reverse;
    }

    body .container #servico .servico-container .servico-text {
        width: 100%;
        height: 50%;

    }

    body .container #servico .servico-container .servico-img {
        width: 100%;
        height: 35%;

    }

    body .container #servico .servico-container .servico-img img {
        width: 50%;

    }





    /* #endregion */

    /* #region blog */

    body #blog {
        width: 100%;
        height: 290vh;
    }

    body #blog .blog-container {
        flex-direction: column;
        margin-bottom: 2%;
        height: 100%;
    }




    body #blog .blog-container ul {
        width: 80%;
        margin: 3% 0;
        height: 700px;


    }

    body #blog .blog-container ul:hover {
        transform: scale(1.02);


    }



    body #blog .blog-container ul li img {
        width: 270px;
        height: 280px;
        margin: 2%;


    }




    /* #endregion */


    /* #region localizacao */


    body #localizacao {
        width: 100%;
        height: 120vh;
    }



    body #localizacao .localizacao-container .localizacao-inner {
        flex-direction: column;
    }


    body #localizacao .localizacao-container .localizacao-inner .logo {
        width: 100%;
        height: 50%;

    }

    body #localizacao .localizacao-container .localizacao-inner .logo img {
        width: 50%;

    }

    body #localizacao .localizacao-container .localizacao-inner .loc-mapa {
        width: 80%;

    }

    body #localizacao .localizacao-container .localizacao-inner .loc-mapa iframe {
        width: 100%;
        height: 80%;

    }

    body #localizacao .localizacao-container .localizacao-inner .loc-mapa p {
        padding: 3%;

    }

    /* #endregion */

}


@media screen and (max-width: 480px) {


    /* #region home  */
    body .container #home {
        width: 100%;
        height: 70vh;
      }



    body .container #home .home-container .home-inner ul{
       padding: 0 2%;
      }

      body .container #home .home-container .home-inner ul li{
        padding: 2%;
       }
 

    /* #endregion */

    /* #region servico */
    body .container #servico .servico-titulo {
       padding: 4%;
      }





    body .container #servico {
        height: 140vh;
        width: 100%;
    }

    body .container #servico .servico-container {

        flex-direction: column-reverse;
    }

    body .container #servico .servico-container .servico-text {
        width: 100%;
        height: 70%;

    }


    body .container #servico .servico-container .servico-text ul{
        width: 90%;
        height: 64%;

    }



    

    body .container #servico .servico-container .servico-img {
        width: 100%;
        height: 40%;
        align-items: center;

    }

    body .container #servico .servico-container .servico-img img {
        width: 380px;

    }





    /* #endregion */

    /* #region blog */

    body #blog {
        width: 100%;
        height: 320vh;
    }

    body #blog .blog-container {
        flex-direction: column;
        margin-bottom: 2%;
    }




    body #blog .blog-container ul {
        width: 85%;
        margin: 3% 0;
        height: 800px;


    }

    body #blog .blog-container ul:hover {
        transform: scale(1.02);


    }



    body #blog .blog-container ul li img {
        width: 270px;
        height: 280px;
        margin: 2%;


    }




    /* #endregion */



    /* #region localizacao */


    body #localizacao {
        width: 100%;
        height: 130vh;
    }



    body #localizacao .localizacao-container .localizacao-inner {
        flex-direction: column;
    }


    body #localizacao .localizacao-container .localizacao-inner .logo {
        width: 100%;
        height: 40%;

    }

    body #localizacao .localizacao-container .localizacao-inner .logo img {
        width: 70%;

    }

    body #localizacao .localizacao-container .localizacao-inner .loc-mapa {
        width: 90%;
        height:65% ;

    }

    body #localizacao .localizacao-container .localizacao-inner .loc-mapa iframe {
        width: 100%;
        height: 50%;

    }

    body #localizacao .localizacao-container .localizacao-inner .loc-mapa p {
        padding: 3%;

    }

    /* #endregion */




}



@media screen and (max-width: 330px) {


    /* #region home  */
    body .container #home {
        width: 100%;
        height: 70vh;
      }



    body .container #home .home-container .home-inner ul{
       padding: 0 2%;
      }

      body .container #home .home-container .home-inner ul li{
        padding: 2%;
       }
 

    /* #endregion */

    /* #region servico */
    body .container #servico .servico-titulo {
       padding: 4%;
      }





    body .container #servico {
        height: 150vh;
        width: 100%;
    }

    body .container #servico .servico-container {

        flex-direction: column-reverse;
    }

    body .container #servico .servico-container .servico-text {
        width: 100%;
        height: 80%;

    }


    body .container #servico .servico-container .servico-text ul{
        width: 90%;
        height: 64%;

    }



    

    body .container #servico .servico-container .servico-img {
        width: 100%;
        height: 20%;
        align-items: center;

    }

    body .container #servico .servico-container .servico-img img {
        width: 280px;

    }





    /* #endregion */

    /* #region blog */

    body #blog {
        width: 100%;
        height: 320vh;
    }

    body #blog .blog-container {
        flex-direction: column;
        margin-bottom: 2%;
    }




    body #blog .blog-container ul {
        width: 85%;
        margin: 3% 0;
        height: 800px;


    }

    body #blog .blog-container ul:hover {
        transform: scale(1.02);


    }



    body #blog .blog-container ul li img {
        width: 240px;
        height: 250px;
        margin: 2%;


    }

    body #blog .blog-container ul li  {
       padding: 3%;


    }




    /* #endregion */



    /* #region localizacao */


    body #localizacao {
        width: 100%;
        height: 130vh;
    }



    body #localizacao .localizacao-container .localizacao-inner {
        flex-direction: column;
    }


    body #localizacao .localizacao-container .localizacao-inner .logo {
        width: 100%;
        height: 20%;

    }

    body #localizacao .localizacao-container .localizacao-inner .logo img {
        width: 80%;

    }

    body #localizacao .localizacao-container .localizacao-inner .loc-mapa {
        width: 90%;
        height:70% ;

    }

    body #localizacao .localizacao-container .localizacao-inner .loc-mapa iframe {
        width: 100%;
        height: 50%;

    }

    body #localizacao .localizacao-container .localizacao-inner .loc-mapa p {
        padding: 3%;

    }

    /* #endregion */




}

